<div class="container">
    @if(student){
        <div class="w-50 m-auto my-5">
            <p>Username : {{student.username}}</p>
            <p>Email : {{student.email}}</p>
            <p>Role : {{student.role}}</p>
            <p>Country : {{student.country}}</p>
            <p>State : {{student.state}}</p>
        </div>
    }
    @if(student && teacher){
        <hr class="my-4">
    }
    @if(teacher){
        <div class="w-50 m-auto my-5">
            <p>Username : {{teacher.username}}</p>
            <p>Email : {{teacher.email}}</p>
            <p>Role : {{teacher.role}}</p>
            <p>Country : {{teacher.country}}</p>
            <p>State : {{teacher.state}}</p>
        </div>

    }    
</div>