<div class="container">
    @if(!quizSubmitted){
        <h2>There Is No Quiz Here</h2>
    } @else {
        <form #quizForm="ngForm" (ngSubmit)="onSubmitting()">
            @for(question of quiz;track $index){
                <div class="bg-primary-subtle p-5 my-3 rounded-2">
                    <h4>{{($index + 1) +" : "+ question.question+ " ?"}}</h4>
                    <div class="input-group">

                        <div class="col-12 p-2"> 
                            <input type="radio" [name]="question.id.toString()" [id]="(question.choices['choice1'] + question.id)" [value]="question.choices['choice1']" ngModel>
                            <label [for]="(question.choices['choice1'] + question.id)" class="form-label">{{question.choices['choice1']}}</label>
                        </div>
     
                        <div class="col-12 p-2">
                            <input type="radio" [name]="question.id.toString()" [id]="(question.choices['choice2'] + question.id)" [value]="question.choices['choice2']" ngModel>
                            <label [for]="(question.choices['choice2'] + question.id)" class="form-label">{{question.choices['choice2']}}</label>
                        </div>
     
                        <div class="col-12 p-2">
                            <input type="radio" [name]="question.id.toString()" [id]="(question.choices['choice3'] + question.id)" [value]="question.choices['choice3']" ngModel>
                            <label [for]="(question.choices['choice3'] + question.id)" class="form-label">{{question.choices['choice3']}}</label>
                        </div>
     
                        <div class="col-12 p-2">
                            <input type="radio" [name]="question.id.toString()" [id]="(question.choices['choice4'] + question.id)"  [value]="question.choices['choice4']" ngModel>
                            <label [for]="(question.choices['choice4'] + question.id)" class="form-label">{{question.choices['choice4']}}</label>
                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-outline-success my-3">Finish Quiz</button>
        </form>

    }
</div>